.root {
	--color-btn-primary: var(--color-text-primary);
	--color-btn-background-primary: var(--oc-blue-4);
	--color-btn-background-primary-hover: var(--oc-blue-5);
	--color-btn-secondary: var(--oc-blue-8);
	--color-btn-secondary-hover: var(--color-text-primary);
	--color-btn-background-secondary-hover: var(--oc-blue-4);
	--color-btn-border-secondary: var(--oc-blue-4);
}

[data-theme="dark"] .root {
	--color-btn-background-primary: var(--oc-blue-8);
	--color-btn-background-primary-hover: var(--oc-blue-9);
	--color-btn-secondary: var(--oc-blue-4);
	--color-btn-border-secondary: var(--oc-blue-6);
	--color-btn-background-secondary-hover: var(--oc-blue-6);
}

.base {
	display: inline-flex;
	gap: var(--size-7);
	align-items: center;
	justify-content: center;
	padding: var(--size-6) var(--size-8);
	color: var(--color-btn-primary);
	font-weight: 600;
	font-size: 16px;
	background-color: transparent;
	border: none;
	border-radius: var(--size-8);
	cursor: pointer;
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.primary {
	background-color: var(--color-btn-background-primary);
}

.primary:not(.disabled):hover {
	background-color: var(--color-btn-background-primary-hover);
}

.secondary {
	color: var(--color-btn-secondary);
	background-color: transparent;
	border: 2px solid var(--color-btn-border-secondary);
}

.secondary:not(.disabled):hover {
	color: var(--color-btn-secondary-hover);
	background-color: var(--color-btn-background-secondary-hover);
}

.primary:not(.disabled):active,
.secondary:not(.disabled):active {
	transform: scale(0.99);
}

.primary.disabled,
.secondary.disabled  {
	cursor: default;
	opacity: 0.5;
}
