/* stylelint-disable custom-property-empty-line-before */
@import url('./colors.css');

:root {
	--color-background-primary: var(--oc-gray-0);
	--color-background-secondary: var(--oc-gray-1);

	--color-text-primary: var(--oc-gray-8);
	--color-text-secondary: var(--oc-gray-7);
	--color-text-thirdy: var(--oc-gray-6);

	--color-border: var(--oc-gray-4);
	--color-border-hover: var(--oc-gray-6);
	--color-border-disabled: var(--oc-gray-2);
	--color-border-support: var(--oc-gray-3);

	--color-alert-success: var(--oc-green-3);
	--color-alert-warning: var(--oc-yellow-3);
	--color-alert-error: var(--oc-red-3);

	--size-1: 1px;
	--size-2: 2px;
	--size-3: 0.25rem;
	--size-4: 0.5rem;
	--size-5: 0.75rem;
	--size-6: 1rem;
	--size-7: 1.25rem;
	--size-8: 1.5rem;
	--size-9: 1.75rem;
	--size-10: 2rem;
}

[data-theme='dark'] {
	--color-background-primary: var(--oc-gray-9);
	--color-background-secondary: var(--oc-gray-8);

	--color-text-primary: var(--oc-gray-0);
	--color-text-secondary: var(--oc-gray-5);
	--color-text-thirdy: var(--oc-gray-6);

	--color-border: var(--oc-gray-7);
	--color-border-hover: var(--oc-gray-6);
	--color-border-disabled: var(--oc-gray-0);
	--color-border-support: var(--oc-gray-0);

	--color-alert-success: var(--oc-green-4);
	--color-alert-warning: var(--oc-yellow-4);
	--color-alert-error: var(--oc-red-4);
}

body {
	color: var(--color-text-primary);
	background-color: var(--color-background-primary);
}

.srOnly {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: none;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}
