.root {
	--color-background-nav-link-active: var(--oc-blue-1);
	--color-background-nav-link-hover: var(--oc-blue-2);
}

[data-theme='dark'] .root {
	--color-background-nav-link-active: var(--oc-blue-8);
	--color-background-nav-link-hover: var(--oc-blue-9);
}

.navList {
	display: flex;
	gap: 48px;
}

.navListItem {
	list-style-type: none;
}

.navLink {
	display: block;
	padding: 12px 16px;
	color: var(--color-text-primary);
	font-weight: 500;
	text-decoration: none;
	border-radius: 12px;
	transition: background-color 0.2s ease-in-out;
}

.navLink.active {
	background-color: var(--color-background-nav-link-active);
}

.navLink:hover,
.navLink.active:hover {
	background-color: var(--color-background-nav-link-hover);
}
