.root {
	--color-login: var(--oc-blue-8);
	--color-border-login: var(--oc-blue-4);
	--color-background-register: var(--oc-blue-4);
}

[data-theme="dark"] .root {
	--color-login: var(--oc-blue-4);
	--color-border-login: var(--oc-blue-8);
	--color-background-register: var(--oc-blue-8);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 48px;
	border-bottom: 4px solid var(--color-background-secondary);
}

.logo {
	color: var(--color-text-primary);
	font-weight: 800;
	font-size: 2.5rem;
	text-transform: uppercase;
	text-decoration: none;
}

.loginBlock {
	display: flex;
	gap: 16px;
}

.loginLink {
	display: inline-flex;
	align-items: center;
	padding: 12px 16px;
	color: var(--color-login);
	font-weight: 500;
	text-decoration: none;
	border: 2px solid var(--color-border-login);
	border-radius: 12px;
}

.registerLink {
	display: inline-flex;
	align-items: center;
	padding: 12px 16px;
	color: var(--color-text-primary);
	font-weight: 500;
	text-decoration: none;
	background-color: var(--color-background-register);
	border-radius: 12px;
}
